<a href="https://colab.research.google.com/github/Chanakarn06/data_viz_2022/blob/main/FinalDashBoard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

‚ùó**Final Exam: ‡∏á‡∏≤‡∏ô‡∏Å‡∏•‡∏∏‡πà‡∏° Final ‡∏ó‡∏µ‡πà‡∏≠‡∏≤‡∏à‡∏≤‡∏£‡∏¢‡πå‡∏™‡∏∏‡πà‡∏°‡πÉ‡∏´‡πâ**:


1.  ‡πÉ‡∏´‡πâ‡∏ô‡∏±‡∏Å‡∏®‡∏∂‡∏Å‡∏©‡∏≤‡∏™‡∏£‡πâ‡∏≤‡∏á Dashboard ‡πÅ‡∏™‡∏î‡∏á‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡πÄ‡∏Å‡∏µ‡πà‡∏¢‡∏ß‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏ï‡∏£‡∏ß‡∏à‡πÇ‡∏£‡∏Ñ(ov) ‡∏à‡∏≤‡∏Å ‡πÑ‡∏ü‡∏•‡πå  alldb.csv ‡πÅ‡∏•‡∏∞ hospital_list.xlsx
2.   ‡πÇ‡∏î‡∏¢‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏•‡∏±‡∏Å‡∏à‡∏∞‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô ‡∏ï‡∏≤‡∏£‡∏≤‡∏á alldb.csv (‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå‡∏ó‡∏µ‡πà‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏ô‡∏≥‡∏°‡∏≤‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡πÑ‡∏î‡πâ‡∏ï‡πâ‡∏≠‡∏á‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡πÉ‡∏ô column ‡∏ï‡πà‡∏≠‡πÑ‡∏õ‡∏ô‡∏µ‡πâ‡∏î‡∏±‡∏á‡∏ô‡∏µ‡πâ

     
* user ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô)
* RowKey ‡πÄ‡∏õ‡πá‡∏ô String
* date ‡πÄ‡∏õ‡πá‡∏ô YYYY-MM-DD
* phone ‡πÄ‡∏õ‡πá‡∏ô String
* site ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô)
* time ‡πÄ‡∏õ‡πá‡∏ô hh-mm-ss
* urine ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤ String
* ov ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà 0-4 (0 ‡∏Ñ‡∏∑‡∏≠‡πÑ‡∏°‡πà‡∏û‡∏ö‡πÇ‡∏£‡∏Ñ 1-4 ‡∏Ñ‡∏∑‡∏≠‡∏û‡∏ö‡πÇ‡∏£‡∏Ñ‡∏ó‡∏µ‡πà‡∏£‡∏∞‡∏î‡∏±‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏£‡∏∏‡∏ô‡πÅ‡∏£‡∏á‡∏ï‡πà‡∏≤‡∏á‡πÜ)
* PartitionKey ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô))

3. ‡πÑ‡∏ü‡∏•‡πå alldb.csv ‡πÅ‡∏•‡∏∞ hospital_list.xlsx ‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏ñ‡∏π‡∏Å‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡πÇ‡∏¢‡∏á‡∏Å‡∏±‡∏ô‡πÇ‡∏î‡∏¢ site ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå alldb.csv ‡∏Ñ‡∏∑‡∏≠ hcode ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå hospital_list.xlsx

‡πÇ‡∏î‡∏¢‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏≥‡∏Ñ‡∏±‡∏ç‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡πÅ‡∏™‡∏î‡∏á‡∏Ñ‡∏∑‡∏≠

* ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Å‡∏≤‡∏£‡∏ï‡∏£‡∏ß‡∏à‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà (‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î-‡∏≠‡∏≥‡πÄ‡∏†‡∏≠ ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå hospital_list.xlsx) ‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Å‡∏±‡∏ö ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏û‡∏ö‡πÇ‡∏£‡∏Ñ (column ov ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå alldb.csv)
* ‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ß‡∏•‡∏≤‡∏ó‡∏µ‡πà‡∏ï‡∏£‡∏ß‡∏à (date ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå alldb.csv)
* ‡∏≠‡∏∑‡πà‡∏ô‡πÜ‡∏ó‡∏µ‡πà‡∏ô‡∏±‡∏Å‡∏®‡∏∂‡∏Å‡∏©‡∏≤‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÇ‡∏¢‡∏ä‡∏ô‡πå (phone (‡∏ä‡∏ô‡∏¥‡∏î‡πÇ‡∏ó‡∏£‡∏®‡∏±‡∏û‡∏ó‡πå‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å), title (‡∏Ñ‡∏≥‡∏ô‡∏≥‡∏´‡∏ô‡πâ‡∏≤‡∏ä‡∏∑‡πà‡∏≠), age (‡∏≠‡∏≤‡∏¢‡∏∏))

(‡∏Ñ‡∏¥‡∏î‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏ï‡∏≤‡∏°‡∏Å‡∏•‡∏∏‡πà‡∏° final ‡πÇ‡∏î‡∏¢‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏µ‡πà‡∏ó‡∏∏‡∏Å‡∏Ñ‡∏ô‡πÉ‡∏ô‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏ï‡πâ‡∏≠‡∏á‡∏°‡∏µ‡∏Ñ‡∏∑‡∏≠‡πÑ‡∏ü‡∏•‡πå data pre-processing ‡πÅ‡∏•‡∏∞ link ‡πÑ‡∏õ‡∏ó‡∏µ‡πà Dashboard ‡∏ó‡∏µ‡πà‡∏™‡∏£‡πâ‡πà‡∏≤‡∏á‡πÇ‡∏î‡∏¢‡πÄ‡∏õ‡∏¥‡∏î‡πÉ‡∏´‡πâ‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ‡∏î‡∏π‡πÅ‡∏•‡∏∞‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡πÑ‡∏î‡πâ)
‡∏™‡πà‡∏á‡πÑ‡∏°‡πà‡πÄ‡∏Å‡∏¥‡∏ô 23.59 ‡∏ß‡∏±‡∏ô‡∏à‡∏±‡∏ô‡∏ó‡∏£‡πå‡∏ó‡∏µ‡πà 11 ‡πÄ‡∏°‡∏©‡∏≤‡∏¢‡∏ô 2565

# ‚úÖ link ‡πÑ‡∏õ‡∏ó‡∏µ‡πà Dashboard

[https://datastudio.google.com/s/vFv5_v4X2GM](https://)

# üîó Import Data

In [546]:
import pandas as pd #‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏ä‡πâ‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏ï‡∏≤‡∏£‡∏≤‡∏á
import os           #‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Å‡∏±‡∏ö‡πÑ‡∏ü‡∏•‡πå ‡πÅ‡∏•‡∏∞ ‡∏ï‡∏±‡∏ß path ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡∏ô‡∏≥‡πÄ‡∏Ç‡πâ‡∏≤

In [547]:
from google.colab import drive # ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ö‡∏±‡∏ç‡∏ä‡∏µ‡∏Å‡∏±‡∏ö google drive
drive.mount('/content/drive') # ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡∏¥‡∏î‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [548]:
path = '/content/drive/My Drive/Final2022'

##Data 1 alldb.csv

In [549]:
data1_alldb = pd.read_csv(os.path.join(path,'alldb.csv'))
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,‡πÄ‡∏Å‡∏©‡∏®‡∏¥‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå ‡πÑ‡∏ä‡∏¢‡∏•‡∏≤‡∏†,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),5,‡πÄ‡∏ñ‡∏•‡∏¥‡∏á‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡∏ï‡∏¥ ‡πÄ‡∏™‡∏£‡∏¥‡∏ê‡πÄ‡∏•‡∏¥‡∏®,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed

In [550]:
data1_alldb= data1_alldb.rename(columns={'title':'gender'})  #  ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå title ‡πÄ‡∏õ‡πá‡∏ô gender
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,‡πÄ‡∏Å‡∏©‡∏®‡∏¥‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå ‡πÑ‡∏ä‡∏¢‡∏•‡∏≤‡∏†,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),5,‡πÄ‡∏ñ‡∏•‡∏¥‡∏á‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡∏ï‡∏¥ ‡πÄ‡∏™‡∏£‡∏¥‡∏ê‡πÄ‡∏•‡∏¥‡∏®,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed

# ‚ñ∂ user ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô)

In [551]:
data1_alldb = data1_alldb[(data1_alldb['user'].astype(str).str.isdigit()) & (data1_alldb['user'].str.len() == 5)]      # ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå user ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç & ‡∏°‡∏µ‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 5 ‡∏ï‡∏±‡∏ß
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,NaN,2,Samsung SM-G998B,xxxxx,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,xxxxx,NaN,NaN

# ‚ñ∂ RowKey ‡πÄ‡∏õ‡πá‡∏ô String

In [552]:
data1_alldb['RowKey']=data1_alldb['RowKey'].astype('string') #‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô dtype ‡πÄ‡∏õ‡πá‡∏ô  String
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,NaN,2,Samsung SM-G998B,xxxxx,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,xxxxx,NaN,NaN

In [553]:
print(data1_alldb.dtypes)  #‡∏û‡∏ö‡∏ß‡πà‡∏≤ RowKey ‡πÄ‡∏õ‡πá‡∏ô String

Unnamed: 0       int64
user            object
RowKey          string
care            object
date            object
ov              object
phone           object
site            object
time            object
urine           object
pid             object
PartitionKey    object
gender          object
age             object
dtype: object

# ‚ñ∂ date ‡πÄ‡∏õ‡πá‡∏ô YYYY-MM-DD

In [554]:
data1_alldb['date'] = pd.to_datetime(data1_alldb ['date'],format='%Y/%m/%d') #‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏Ç‡∏≠‡∏á ‡∏ß‡∏±‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏õ‡∏µ 
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,NaT,2,Samsung SM-G998B,xxxxx,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,xxxxx,NaN,NaN

In [555]:
data1_alldb[['date']] = data1_alldb[['date']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏') #‡πÅ‡∏ó‡∏ô '‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏' ‡πÉ‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,2,Samsung SM-G998B,xxxxx,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,xxxxx,NaN,NaN

# ‚ñ∂ site ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô)

In [556]:
data1_alldb= data1_alldb[(data1_alldb['site'].astype(str).str.isdigit()) & (data1_alldb['site'].str.len() == 5)]         # ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå site ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç & ‡∏°‡∏µ‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 5 ‡∏ï‡∏±‡∏ß
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

# ‚ñ∂ time ‡πÄ‡∏õ‡πá‡∏ô hh-mm-ss

In [557]:
data1_alldb['time'] = pd.to_datetime(data1_alldb['time'],format='%H:%M%:%S',errors='ignore')  #‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏Ç‡∏≠‡∏á time 
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

In [558]:
data1_alldb[['time']] = data1_alldb[['time']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')  #‡πÅ‡∏ó‡∏ô ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏ ‡πÉ‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

# ‚ñ∂ urine ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤ String

In [559]:
data1_alldb['urine']=data1_alldb['urine'].astype('string') #‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô dtype ‡πÄ‡∏õ‡πá‡∏ô  String
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,<NA>,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,<NA>,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,<NA>,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,<NA>,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,<NA>,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

In [560]:
print(data1_alldb.dtypes) #‡∏û‡∏ö‡∏ß‡πà‡∏≤ urine  ‡πÄ‡∏õ‡πá‡∏ô   string

Unnamed: 0       int64
user            object
RowKey          string
care            object
date            object
ov              object
phone           object
site            object
time            object
urine           string
pid             object
PartitionKey    object
gender          object
age             object
dtype: object

In [561]:
data1_alldb[['urine']] = data1_alldb[['urine']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')  #‡πÅ‡∏ó‡∏ô ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏ ‡πÉ‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

# ‚ñ∂ ov ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà 0-4 (0 ‡∏Ñ‡∏∑‡∏≠‡πÑ‡∏°‡πà‡∏û‡∏ö‡πÇ‡∏£‡∏Ñ 1-4 ‡∏Ñ‡∏∑‡∏≠‡∏û‡∏ö‡πÇ‡∏£‡∏Ñ‡∏ó‡∏µ‡πà‡∏£‡∏∞‡∏î‡∏±‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏£‡∏∏‡∏ô‡πÅ‡∏£‡∏á‡∏ï‡πà‡∏≤‡∏á‡πÜ)

In [562]:
data1_alldb['ov']

1        NaN
5        NaN
7        NaN
11       NaN
12       NaN
        ...
39812      1
39813      0
39814      1
39815      1
39816      1
Name: ov, Length: 38493, dtype: object

In [563]:
set(data1_alldb['ov']) #‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏î‡∏πset ‡∏Ç‡∏≠‡∏áov

{'0', '1', '2', '3', '4', nan, '‡∏ï‡∏¥‡∏î‡πÄ‡∏ä‡∏∑‡πâ‡∏≠ +2 '}

In [564]:
data1_alldb =data1_alldb[data1_alldb['ov']!='‡∏ï‡∏¥‡∏î‡πÄ‡∏ä‡∏∑‡πâ‡∏≠ +2 ']  #‡πÑ‡∏°‡πà‡πÄ‡∏≠‡∏≤ '‡∏ï‡∏¥‡∏î‡πÄ‡∏ä‡∏∑‡πâ‡∏≠ +2 '
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

In [565]:
data1_alldb[['ov']] = data1_alldb[['ov']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')  #‡πÅ‡∏ó‡∏ô ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏ ‡πÉ‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"iPhone10,4",05310,10:50:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"iPhone13,2",05248,10:14:46,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"iPhone10,4",05310,11:14:21,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"iPhone13,2",05248,10:14:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"iPhone13,3",22222,17:39:35,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

# ‚ñ∂ PartitionKey ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô)

In [566]:
data1_alldb= data1_alldb[(data1_alldb['PartitionKey'].astype(str).str.isdigit()) & (data1_alldb['PartitionKey'].str.len() == 5)]      # ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå PartitionKey ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç & ‡∏°‡∏µ‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 5 ‡∏ï‡∏±‡∏ß
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23 00:00:00,0,Xiaomi 21081111RG,13777,16:31:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ô‡∏≤‡∏á,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ô‡∏≤‡∏á,55
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ô‡∏≤‡∏¢,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

# ‚ñ∂ ‡∏≠‡∏∑‡πà‡∏ô‡πÜ‡∏ó‡∏µ‡πà‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÇ‡∏¢‡∏ä‡∏ô‡πå [gender]

In [567]:
data1_alldb['gender']

190         NaN
191      ‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß
192         ‡∏ô‡∏≤‡∏á
193         ‡∏ô‡∏≤‡∏á
194         ‡∏ô‡∏≤‡∏¢
          ...
39812       NaN
39813       NaN
39814       NaN
39815       NaN
39816       NaN
Name: gender, Length: 38381, dtype: object

In [568]:
set(data1_alldb['gender']) #‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏î‡∏πset ‡∏Ç‡∏≠‡∏ágender

{'  ‡∏ô‡∏≤‡∏á',
 ' ‡∏ô‡∏≤‡∏á',
 ' ‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß',
 ' ‡∏ô‡∏≤‡∏¢',
 'Mrs',
 nan,
 '‡∏ä‡∏≤‡∏¢',
 '‡∏î.‡∏ä.',
 '‡∏î.‡∏ç.',
 '‡∏î.‡∏ï.',
 '‡∏ô',
 '‡∏ô.‡∏™',
 '‡∏ô.‡∏™ ',
 '‡∏ô.‡∏™.',
 '‡∏ô‡∏™',
 '‡∏ô‡∏™.',
 '‡∏ô‡∏™. ',
 '‡∏ô‡∏≤‡∏á',
 '‡∏ô‡∏≤‡∏á ',
 '‡∏ô‡∏≤‡∏á.',
 '‡∏ô‡∏≤‡∏ál',
 '‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß',
 '‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß ',
 '‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß                   ',
 '‡∏ô‡∏≤‡∏ô',
 '‡∏ô‡∏≤‡∏ö',
 '‡∏ô‡∏≤‡∏¢',
 '‡∏ô‡∏≤‡∏¢ ',
 '‡∏ô‡∏≤‡∏¢  ',
 '‡∏ô‡∏≤‡∏ß',
 '‡∏ô‡∏≤‡∏ß‡∏™‡∏≤‡∏ß',
 '‡∏ô‡∏≤‡πà‡∏á',
 '‡∏ô‡πà‡∏≤‡∏¢',
 '‡∏û‡∏à‡∏≠.',
 '‡∏û‡∏£‡∏∞',
 '‡∏û‡∏£‡∏∞‡∏Ñ‡∏£‡∏∏',
 '‡∏û‡∏£‡∏∞‡∏õ‡∏•‡∏±‡∏î',
 '‡∏û‡∏•‡∏Ø',
 '‡∏£.‡∏ï.',
 '‡∏£.‡∏ï.‡∏ï.',
 '‡∏£.‡∏ï.‡∏ó.',
 '‡∏£.‡∏ï.‡∏≠.',
 '‡∏£‡∏ï.',
 '‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà ‡∏£.‡∏ï.',
 '‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà ‡∏£.‡∏ó.',
 '‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏£‡πâ‡∏≠‡∏¢‡∏ï‡∏£‡∏µ',
 '‡∏™.‡∏≠.',
 '‡∏∑‡∏ô‡∏≤‡∏á',
 '‡πÄ‡∏î‡πá‡∏Å‡∏ä‡∏≤‡∏¢',
 '‡πÄ‡∏î‡πá‡∏Å‡∏´‡∏ç‡∏¥‡∏á'}

In [569]:
data1_alldb['gender'].replace({'  ‡∏ô‡∏≤‡∏á':'‡∏´‡∏ç‡∏¥‡∏á',' ‡∏ô‡∏≤‡∏á':'‡∏´‡∏ç‡∏¥‡∏á', ' ‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß':'‡∏´‡∏ç‡∏¥‡∏á', ' ‡∏ô‡∏≤‡∏¢':'‡∏ä‡∏≤‡∏¢','Mrs':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ä‡∏≤‡∏¢':'‡∏ä‡∏≤‡∏¢', '‡∏î.‡∏ä.':'‡∏ä‡∏≤‡∏¢','‡∏î.‡∏ç.':'‡∏´‡∏ç‡∏¥‡∏á','‡∏î.‡∏ï.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏ô':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏ô.‡∏™':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô.‡∏™ ':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô.‡∏™.':'‡∏´‡∏ç‡∏¥‡∏á',
                                 '‡∏ô‡∏™':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡∏™.':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡∏™. ':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏á':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏á ':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏á.':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡∏≤‡∏ál':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß ':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß                   ':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏ô':'‡∏ä‡∏≤‡∏¢', '‡∏ô‡∏≤‡∏ö':'‡∏ä‡∏≤‡∏¢',
                                  '‡∏ô‡∏≤‡∏¢':'‡∏ä‡∏≤‡∏¢','‡∏ô‡∏≤‡∏¢ ':'‡∏ä‡∏≤‡∏¢','‡∏ô‡∏≤‡∏¢  ':'‡∏ä‡∏≤‡∏¢', '‡∏ô‡∏≤‡∏ß':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡∏≤‡∏ß‡∏™‡∏≤‡∏ß':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡πà‡∏á':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡πà‡∏≤‡∏¢':'‡∏ä‡∏≤‡∏¢','‡∏û‡∏à‡∏≠.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏û‡∏£‡∏∞':'‡∏ä‡∏≤‡∏¢', '‡∏û‡∏£‡∏∞‡∏Ñ‡∏£‡∏∏':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏', '‡∏û‡∏£‡∏∞‡∏õ‡∏•‡∏±‡∏î':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏', '‡∏û‡∏•‡∏Ø':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏£.‡∏ï.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏', '‡∏£.‡∏ï.‡∏ï.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏',
                                  '‡∏£.‡∏ï.‡∏ó.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏£.‡∏ï.‡∏≠.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏£‡∏ï.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà ‡∏£.‡∏ï.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏', '‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà ‡∏£.‡∏ó.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏£‡πâ‡∏≠‡∏¢‡∏ï‡∏£‡∏µ':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏™.‡∏≠.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏',  '‡∏∑‡∏ô‡∏≤‡∏á':'‡∏´‡∏ç‡∏¥‡∏á', '‡πÄ‡∏î‡πá‡∏Å‡∏ä‡∏≤‡∏¢':'‡∏ä‡∏≤‡∏¢', '‡πÄ‡∏î‡πá‡∏Å‡∏´‡∏ç‡∏¥‡∏á':'‡∏´‡∏ç‡∏¥‡∏á'},inplace=True)
##‡πÅ‡∏ó‡∏ô‡πÄ‡∏û‡∏®‡∏´‡∏ç‡∏¥‡∏á,‡∏ä‡∏≤‡∏¢,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [570]:
data1_alldb[['gender']] =data1_alldb[['gender']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏') #‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡∏î‡πâ‡∏ß‡∏¢ '‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏'
data1_alldb  ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23 00:00:00,0,Xiaomi 21081111RG,13777,16:31:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00000,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,55
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ä‡∏≤‡∏¢,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN

In [571]:
set(data1_alldb['gender']) #‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏î‡∏π set ‡∏Ç‡∏≠‡∏á gender

{'‡∏ä‡∏≤‡∏¢', '‡∏´‡∏ç‡∏¥‡∏á', '‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏'}

# ‚ñ∂ ‡∏≠‡∏∑‡πà‡∏ô‡πÜ‡∏ó‡∏µ‡πà‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÇ‡∏¢‡∏ä‡∏ô‡πå [age]

In [572]:
print(data1_alldb.dtypes) #‡∏û‡∏ö‡∏ß‡πà‡∏≤‡∏Ñ‡πà‡∏≤ age   ‡πÄ‡∏õ‡πá‡∏ôobject

Unnamed: 0       int64
user            object
RowKey          string
care            object
date            object
ov              object
phone           object
site            object
time            object
urine           string
pid             object
PartitionKey    object
gender          object
age             object
dtype: object

In [573]:
age_drop = data1_alldb.dropna(subset=['age']) #dropna column age

In [574]:
age_drop ['age']=age_drop ['age'].astype('int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [575]:
data1_alldb = age_drop[(age_drop ['age'] <=100) & (age_drop ['age'] >=1)]  #‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏≤‡∏¢‡∏∏‡∏ó‡∏µ‡πà‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤1 ‡∏õ‡∏µ ‡∏ô‡πâ‡∏≠‡∏¢‡∏Å‡∏ß‡πà‡∏≤100 ‡∏õ‡∏µ 
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,55
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ä‡∏≤‡∏¢,66
195,195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,NaN,2022-03-31 00:00:00,0,"iPhone13,3",06334,14:57:41,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39416,39416,26462,ieotqfnqcq.png,NaN,2022-03-22 00:00:00,1,Vivo 1920,11069,14:03:12,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,11003,‡∏´‡∏ç‡∏¥‡∏á,33
39417,39417,26462,cywpeqziic.png,NaN,2022-03-21 00:00:00,2,Vivo 1920,11069,13:59:04,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,11005,‡∏ä‡∏≤‡∏¢,28
39418,39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,NaN,2022-03-22 00:00:00,2,"iPhone13,4",11069,13:41:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,11006,‡∏´‡∏ç‡∏¥‡∏á,72
39419,39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,NaN,2022-03-21 00:00:00,0,"iPhone13,4",11069,14:17:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,11007,‡∏´‡∏ç‡∏¥‡∏á,48
39420,39420,26462,vdxxgljykj.png,NaN,2022-03-21 00:00:00,1,Vivo V2050,11069,10:54:49,"‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™), ‡πÉ‡∏™‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ô‡πâ‡∏≥‡πÄ‡∏õ‡∏•‡πà‡∏≤",NaN,11008,‡∏ä‡∏≤‡∏¢,36

In [576]:
data1_alldb.isnull().any() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏´‡∏≤‡∏Ñ‡πà‡∏≤ missing

Unnamed: 0      False
user            False
RowKey          False
care             True
date            False
ov              False
phone           False
site            False
time            False
urine           False
pid              True
PartitionKey    False
gender          False
age             False
dtype: bool

In [577]:
data1_alldb.isnull().sum()    ##‡∏î‡∏π‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á

Unnamed: 0          0
user                0
RowKey              0
care            37836
date                0
ov                  0
phone               0
site                0
time                0
urine               0
pid             37836
PartitionKey        0
gender              0
age                 0
dtype: int64

**‡πÄ‡∏•‡∏∑‡∏≠‡∏Å cloumn ‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£**

In [578]:
data1all_alldb = data1_alldb[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','gender','age']]   # ‡∏ä‡∏µ‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
data1all_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,gender,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏ä‡∏≤‡∏¢,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31 00:00:00,0,"iPhone13,3",06334,14:57:41,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22 00:00:00,1,Vivo 1920,11069,14:03:12,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11003,‡∏´‡∏ç‡∏¥‡∏á,33
39417,26462,cywpeqziic.png,2022-03-21 00:00:00,2,Vivo 1920,11069,13:59:04,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11005,‡∏ä‡∏≤‡∏¢,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22 00:00:00,2,"iPhone13,4",11069,13:41:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11006,‡∏´‡∏ç‡∏¥‡∏á,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21 00:00:00,0,"iPhone13,4",11069,14:17:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11007,‡∏´‡∏ç‡∏¥‡∏á,48
39420,26462,vdxxgljykj.png,2022-03-21 00:00:00,1,Vivo V2050,11069,10:54:49,"‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™), ‡πÉ‡∏™‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ô‡πâ‡∏≥‡πÄ‡∏õ‡∏•‡πà‡∏≤",11008,‡∏ä‡∏≤‡∏¢,36

In [579]:
data1all_alldb.isnull().any() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏´‡∏≤‡∏Ñ‡πà‡∏≤ missing

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
gender          False
age             False
dtype: bool

##Data 2  hospital_list.xlsx

In [580]:
data2_hospital = pd.read_excel(os.path.join(path,'hospital_list.xlsx')) #‡∏Å‡∏≤‡∏£‡∏ô‡∏≥‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£‡∏Ñ‡∏∑‡∏≠data2_hospital
data2_hospital ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,6,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏£‡∏∞‡∏¢‡∏≠‡∏á),11.0,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,1.0,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥,1.0,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,NaN,NaN,‡∏™‡∏õ,SPK
1,00002,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,4,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ),12.0,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,4.0,‡∏ö‡∏≤‡∏á‡∏Å‡∏£‡∏∞‡∏™‡∏≠,1.0,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,NaN,NaN,‡∏ô‡∏ö,NBI
2,00003,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,4,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ),13.0,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,1.0,‡∏ö‡∏≤‡∏á‡∏õ‡∏£‡∏≠‡∏Å,1.0,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,NaN,NaN,‡∏õ‡∏ó,PTE
3,00004,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,4,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ),14.0,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,1.0,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,3.0,‡∏´‡∏≠‡∏£‡∏±‡∏ï‡∏ô‡πÑ‡∏ä‡∏¢,1.0,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,NaN,NaN,‡∏≠‡∏¢,AYA
4,00005,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,4,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ),15.0,‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,8.0,‡∏ö‡πâ‡∏≤‡∏ô‡∏≠‡∏¥‡∏ê,1.0,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,NaN,NaN,‡∏≠‡∏ó,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå(‡∏™‡∏≤‡∏Ç‡∏≤ 2 ‡∏ß‡∏±‡∏î‡∏ó...,2,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏û‡∏¥‡∏©‡∏ì‡∏∏‡πÇ‡∏•‡∏Å),53.0,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,1.0,‡∏ó‡πà‡∏≤‡∏≠‡∏¥‡∏ê,8.0,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô ‡∏Ç‡∏≠‡∏á ‡∏£‡∏û.,10.0,1 ‡∏õ‡∏ê‡∏°‡∏†‡∏π‡∏°‡∏¥,‡∏≠‡∏ï,UTT
17099,99991,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,5,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ),77.0,‡∏õ‡∏£‡∏∞‡∏à‡∏ß‡∏ö‡∏Ñ‡∏µ‡∏£‡∏µ‡∏Ç‡∏±‡∏ô‡∏ò‡πå,2.0,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,1.0,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,8.0,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô ‡∏Ç‡∏≠‡∏á ‡∏£‡∏û.,10.0,1 ‡∏õ‡∏ê‡∏°‡∏†‡∏π‡∏°‡∏¥,‡∏õ‡∏Ç,PKN
17100,99993,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,5,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ),70.0,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,9.0,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,3.0,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,8.0,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô ‡∏Ç‡∏≠‡∏á ‡∏£‡∏û.,10.0,1 ‡∏õ‡∏ê‡∏°‡∏†‡∏π‡∏°‡∏¥,‡∏£‡∏ö,RBR
17101,99996,‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å‡∏ó‡∏±‡∏ô‡∏ï‡∏Å‡∏£‡∏£‡∏° ‡∏™‡∏™‡∏à.‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,10,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏≠‡∏∏‡∏ö‡∏•‡∏£‡∏≤‡∏ä‡∏ò‡∏≤‡∏ô‡∏µ),33.0,‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,11.0,‡πÇ‡∏û‡∏ô‡∏Ç‡πà‡∏≤,8.0,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô ‡∏Ç‡∏≠‡∏á ‡∏£‡∏û.,10.0,1 ‡∏õ‡∏ê‡∏°‡∏†‡∏π‡∏°‡∏¥,‡∏®‡∏Å,SSK
17102,99998,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡∏≤‡∏á‡πÅ‡∏û,5,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ),70.0,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,6.0,‡∏ö‡∏≤‡∏á‡πÅ‡∏û,2.0,‡∏ß‡∏±‡∏á‡πÄ‡∏¢‡πá‡∏ô,8.0,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô ‡∏Ç‡∏≠‡∏á ‡∏£‡∏û.,10.0,1 ‡∏õ‡∏ê‡∏°‡∏†‡∏π‡∏°‡∏¥,‡∏£‡∏ö,RBR

In [581]:
data2_hospital = data2_hospital[['hcode','zone_code','name','province','amphur','tambon']] ##‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡πÄ‡∏â‡∏û‡∏≤‡∏∞column‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
data2_hospital  ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,hcode,zone_code,name,province,amphur,tambon
0,00001,6,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥
1,00002,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡∏Å‡∏£‡∏∞‡∏™‡∏≠
2,00003,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏ö‡∏≤‡∏á‡∏õ‡∏£‡∏≠‡∏Å
3,00004,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏´‡∏≠‡∏£‡∏±‡∏ï‡∏ô‡πÑ‡∏ä‡∏¢
4,00005,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏ö‡πâ‡∏≤‡∏ô‡∏≠‡∏¥‡∏ê
...,...,...,...,...,...,...
17098,99990,2,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå(‡∏™‡∏≤‡∏Ç‡∏≤ 2 ‡∏ß‡∏±‡∏î‡∏ó...,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏ó‡πà‡∏≤‡∏≠‡∏¥‡∏ê
17099,99991,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏õ‡∏£‡∏∞‡∏à‡∏ß‡∏ö‡∏Ñ‡∏µ‡∏£‡∏µ‡∏Ç‡∏±‡∏ô‡∏ò‡πå,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ
17100,99993,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á
17101,99996,10,‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å‡∏ó‡∏±‡∏ô‡∏ï‡∏Å‡∏£‡∏£‡∏° ‡∏™‡∏™‡∏à.‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÇ‡∏û‡∏ô‡∏Ç‡πà‡∏≤
17102,99998,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏ß‡∏±‡∏á‡πÄ‡∏¢‡πá‡∏ô

In [582]:
data2_hospital= data2_hospital[(data2_hospital['hcode'].astype(str).str.isdigit()) & (data2_hospital['hcode'].str.len() == 5)]      # ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå hcode ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç & ‡∏°‡∏µ‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 5 ‡∏ï‡∏±‡∏ß
data2_hospital## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,hcode,zone_code,name,province,amphur,tambon
0,00001,6,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥
1,00002,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡∏Å‡∏£‡∏∞‡∏™‡∏≠
2,00003,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏ö‡∏≤‡∏á‡∏õ‡∏£‡∏≠‡∏Å
3,00004,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏´‡∏≠‡∏£‡∏±‡∏ï‡∏ô‡πÑ‡∏ä‡∏¢
4,00005,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏ö‡πâ‡∏≤‡∏ô‡∏≠‡∏¥‡∏ê
...,...,...,...,...,...,...
17098,99990,2,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå(‡∏™‡∏≤‡∏Ç‡∏≤ 2 ‡∏ß‡∏±‡∏î‡∏ó...,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏ó‡πà‡∏≤‡∏≠‡∏¥‡∏ê
17099,99991,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏õ‡∏£‡∏∞‡∏à‡∏ß‡∏ö‡∏Ñ‡∏µ‡∏£‡∏µ‡∏Ç‡∏±‡∏ô‡∏ò‡πå,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ
17100,99993,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á
17101,99996,10,‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å‡∏ó‡∏±‡∏ô‡∏ï‡∏Å‡∏£‡∏£‡∏° ‡∏™‡∏™‡∏à.‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÇ‡∏û‡∏ô‡∏Ç‡πà‡∏≤
17102,99998,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏ß‡∏±‡∏á‡πÄ‡∏¢‡πá‡∏ô

In [583]:
data2_hospital.isnull().any() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏´‡∏≤‡∏Ñ‡πà‡∏≤ missing

hcode        False
zone_code    False
name          True
province     False
amphur        True
tambon        True
dtype: bool

In [584]:
data2_hospital[['name']] = data2_hospital[['name']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')
data2_hospital[['amphur']] =data2_hospital[['amphur']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')
data2_hospital[['tambon']] = data2_hospital[['tambon']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')
#‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤ ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏ ‡πÉ‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [585]:
data2_hospital.isnull().any()  # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏´‡∏≤‡∏Ñ‡πà‡∏≤ missing

hcode        False
zone_code    False
name         False
province     False
amphur       False
tambon       False
dtype: bool

In [586]:
data2_hospital.isnull().sum()    ## ‡∏î‡∏π‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á

hcode        0
zone_code    0
name         0
province     0
amphur       0
tambon       0
dtype: int64

# ‚ñ∂ Merge Table ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ó‡∏µ‡πà1 ‡πÅ‡∏•‡∏∞‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ó‡∏µ‡πà2

In [587]:
data1all_alldb #‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ó‡∏µ‡πà1 ‡πÑ‡∏ü‡∏•‡πå alldb.csv

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,gender,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏ä‡∏≤‡∏¢,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31 00:00:00,0,"iPhone13,3",06334,14:57:41,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22 00:00:00,1,Vivo 1920,11069,14:03:12,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11003,‡∏´‡∏ç‡∏¥‡∏á,33
39417,26462,cywpeqziic.png,2022-03-21 00:00:00,2,Vivo 1920,11069,13:59:04,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11005,‡∏ä‡∏≤‡∏¢,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22 00:00:00,2,"iPhone13,4",11069,13:41:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11006,‡∏´‡∏ç‡∏¥‡∏á,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21 00:00:00,0,"iPhone13,4",11069,14:17:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11007,‡∏´‡∏ç‡∏¥‡∏á,48
39420,26462,vdxxgljykj.png,2022-03-21 00:00:00,1,Vivo V2050,11069,10:54:49,"‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™), ‡πÉ‡∏™‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ô‡πâ‡∏≥‡πÄ‡∏õ‡∏•‡πà‡∏≤",11008,‡∏ä‡∏≤‡∏¢,36

In [588]:
data2_hospital #‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ó‡∏µ‡πà2 hospital_list.xlsx

,hcode,zone_code,name,province,amphur,tambon
0,00001,6,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥
1,00002,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡∏Å‡∏£‡∏∞‡∏™‡∏≠
2,00003,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏ö‡∏≤‡∏á‡∏õ‡∏£‡∏≠‡∏Å
3,00004,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏´‡∏≠‡∏£‡∏±‡∏ï‡∏ô‡πÑ‡∏ä‡∏¢
4,00005,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏ö‡πâ‡∏≤‡∏ô‡∏≠‡∏¥‡∏ê
...,...,...,...,...,...,...
17098,99990,2,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå(‡∏™‡∏≤‡∏Ç‡∏≤ 2 ‡∏ß‡∏±‡∏î‡∏ó...,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏ó‡πà‡∏≤‡∏≠‡∏¥‡∏ê
17099,99991,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏õ‡∏£‡∏∞‡∏à‡∏ß‡∏ö‡∏Ñ‡∏µ‡∏£‡∏µ‡∏Ç‡∏±‡∏ô‡∏ò‡πå,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ
17100,99993,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á
17101,99996,10,‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å‡∏ó‡∏±‡∏ô‡∏ï‡∏Å‡∏£‡∏£‡∏° ‡∏™‡∏™‡∏à.‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÇ‡∏û‡∏ô‡∏Ç‡πà‡∏≤
17102,99998,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏ß‡∏±‡∏á‡πÄ‡∏¢‡πá‡∏ô

In [589]:
data_Final = data1all_alldb.merge(data2_hospital,how='left',left_on='site',right_on='hcode') ## ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏ádata1all_alldb ‡∏Å‡∏±‡∏ödata2_hospital ‡∏î‡πâ‡∏ß‡∏¢ site ‡πÅ‡∏•‡∏∞ hcode
data_Final## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,gender,age,hcode,zone_code,name,province,amphur,tambon
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,47,06307,2,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏™‡πà‡∏á‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏Å‡∏≤‡∏∞ ‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡πâ‡∏≤‡∏ô‡∏î‡∏≤‡∏£‡∏≤,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏û‡∏¥‡∏ä‡∏±‡∏¢,‡∏ö‡πâ‡∏≤‡∏ô‡∏î‡∏≤‡∏£‡∏≤
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,41,05328,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏™‡πà‡∏á‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡πâ‡∏≤‡∏ô‡πÇ‡∏Ñ‡∏Å‡∏õ‡∏£‡∏∞‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡πå,‡∏Å‡∏≤‡∏¨‡∏™‡∏¥‡∏ô‡∏ò‡∏∏‡πå,‡∏Ü‡πâ‡∏≠‡∏á‡∏ä‡∏±‡∏¢,‡πÇ‡∏Ñ‡∏Å‡∏™‡∏∞‡∏≠‡∏≤‡∏î
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,55,06302,2,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏™‡πà‡∏á‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ï‡∏≥‡∏ö‡∏•‡∏™‡∏≠‡∏á‡∏´‡πâ‡∏≠‡∏á,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏ü‡∏≤‡∏Å‡∏ó‡πà‡∏≤,‡∏™‡∏≠‡∏á‡∏´‡πâ‡∏≠‡∏á
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏ä‡∏≤‡∏¢,66,05059,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏™‡πà‡∏á‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡πâ‡∏≤‡∏ô‡∏î‡∏≠‡∏ô‡∏î‡∏π‡πà,‡∏°‡∏´‡∏≤‡∏™‡∏≤‡∏£‡∏Ñ‡∏≤‡∏°,‡∏ô‡∏≤‡∏î‡∏π‡∏ô,‡∏´‡∏±‡∏ß‡∏î‡∏á
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31 00:00:00,0,"iPhone13,3",06334,14:57:41,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,50,06334,2,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏™‡πà‡∏á‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ï‡∏≥‡∏ö‡∏•‡∏ô‡πâ‡∏≥‡∏û‡∏µ‡πâ,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏ó‡∏≠‡∏á‡πÅ‡∏™‡∏ô‡∏Ç‡∏±‡∏ô,‡∏ô‡πâ‡∏≥‡∏û‡∏µ‡πâ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37831,26462,ieotqfnqcq.png,2022-03-22 00:00:00,1,Vivo 1920,11069,14:03:12,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11003,‡∏´‡∏ç‡∏¥‡∏á,33,11069,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏Ç‡∏ß‡∏±‡∏ç‡πÄ‡∏°‡∏∑‡∏≠‡∏á
37832,26462,cywpeqziic.png,2022-03-21 00:00:00,2,Vivo 1920,11069,13:59:04,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11005,‡∏ä‡∏≤‡∏¢,28,11069,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏Ç‡∏ß‡∏±‡∏ç‡πÄ‡∏°‡∏∑‡∏≠‡∏á
37833,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22 00:00:00,2,"iPhone13,4",11069,13:41:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11006,‡∏´‡∏ç‡∏¥‡∏á,72,11069,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏Ç‡∏ß‡∏±‡∏ç‡πÄ‡∏°‡∏∑‡∏≠‡∏á
37834,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21 00:00:00,0,"iPhone13,4",11069,14:17:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11007,‡∏´‡∏ç‡∏¥‡∏á,48,11069,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏Ç‡∏ß‡∏±‡∏ç‡πÄ‡∏°‡∏∑‡∏≠‡∏á
37835,26462,vdxxgljykj.png,2022-03-21 00:00:00,1,Vivo V2050,11069,10:54:49,"‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™), ‡πÉ‡∏™‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ô‡πâ‡∏≥‡πÄ‡∏õ‡∏•‡πà‡∏≤",11008,‡∏ä‡∏≤‡∏¢,36,11069,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏Ç‡∏ß‡∏±‡∏ç‡πÄ‡∏°‡∏∑‡∏≠‡∏á

# ‚ñ∂ Save table

In [590]:
data_Final.to_csv(os.path.join(path,'data_Final.csv'))